[submodule "acer-predator-turbo-and-rgb-keyboard-linux-module"]
	path = acer-predator-turbo-and-rgb-keyboard-linux-module
	url = https://github.com/JafarAkhondali/acer-predator-turbo-and-rgb-keyboard-linux-module
